<!DOCTYPE html>
<html>
<% include par/head%>
<% include par/nav%>
<body>

<!-- menu -->

<div class="container-fluid">
<div class="row">

<div class="col-sm-1" ></div>

<div class="col-sm-10" >
<div align="center">
<% include par/rou %>
<br>

</div><!-- /center-->
</div><!-- /col12-->

<div class="col-sm-1" ></div>
</div><!-- /row-->


</div><!-- /container-fluid-->

<% include par/foot %>
</body>
</html>

