<div class="container-fluid">
<div class="row">
<br>
<div class="col-md-8">
<% include ./img %>
<br>

<div  align="center" >

<% include ./clr %>
<% include ./bk %>
</div>

</div>

<div class="col-md-4">
    <% if(sum) { %>
<% include ./sum %>
<% } else { %>
no sum

<% } %>

</div>

<% include ./pay %>

</div>

</div>
</div>

